
    .cta-logo {
      animation: flow1 4s;
      animation-timing-function: ease-in-out;
      }
    .cta-column-one {
        animation: flow2 1s;
        animation-timing-function: linear;
      }
      .cta-column-three {
        animation: flow3 1s;
        animation-timing-function: linear;

      }
      .cta-p, .cta-p2 {
        transform: translate(0px, 0px);
        animation: flow4 4s;
        animation-timing-function: ease-in-out;

      }

/* Key Frames */


@keyframes flow1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flow2 {
  0% {
    opacity: 0;
    transform: translate(50px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes flow3 {
  0% {
    opacity: 0;
    transform: translate(-50px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes flow4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





