<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/animations.css">

    <title>Chris Lauer | Portfolio</title>
</head>
<body>
    <nav>
        <div class="content-wrapper">
            <div class="nav-two-columns">
                <div>
                    <ul class="nav-ul">
                       <li><a href="javascript:void(0)" id="home">chrislauer.net</a> </li>
                    </ul>
                </div>
                <div class="nav-column-two">
                    <ul class="nav-ul">
                    <li class="nav-li"><a href="javascript:void(0)" id="home-link" class="desktop-links">Top</a></li>
                    <li class="nav-li"><a href="javascript:void(0)" id="projects-link" class="desktop-links">Projects</a>
                      <ul class="dropdown-menu">

                        <li  class="dropdown-li"><a href="javascript:void(0)" class="dropdown-links" id="dropdown-project3">Viabull</a></li>
                        <li  class="dropdown-li"><a href="javascript:void(0)" class="dropdown-links"
                          id="dropdown-project1">KinderMission</a></li>
                      </ul>              
                    </li>
                    <li class="nav-li"><a href="javascript:void(0)" id="designs-link" class="desktop-links">Designs</a></li>
                    <li class="nav-li"><a href="javascript:void(0)" id="aboutme-link" class="desktop-links">About Me</a></li>
                    <li class="nav-li"><a href="mailto:lauer.chris1@gmail.com" title= "directly email">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.07 150.45" class="icon-nav desktop-links">
                            <g id="Layer_2" data-name="Layer 2">
                              <g id="Mail_Icon" data-name="Mail Icon" >
                                <path d="M0,0V150.45H218.07V0ZM15.74,123.16V24.92L67.92,69.38ZM109,104.41l29.3-25,53.33,55.27H26.48l53.45-55.1Zm0-20.69-79.78-68H188.82Zm41.31-14.51,52-44.29v98.16Z"/>
                              </g>
                            </g>
                          </svg>
                    </a></li>
                    <li class="nav-li"><a href="https://github.com/CALauer" target="_blank" title="github">                              
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.06 164.07" class="icon-nav desktop-links">
                      <g data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                          <path class="cls-1" d="M167.06,83.53a83.57,83.57,0,0,1-61.31,80.54V137.76A22.18,22.18,0,0,0,98.08,121c26.3-3.47,39.61-16.57,39.33-37.43-.13-9.68-3-19.18-9.49-26.78a28.69,28.69,0,0,0,1.64-9.53c0-5.21-1.51-11.57-3.88-12.86s-17.28,4.24-22.54,8.21A85.15,85.15,0,0,0,83.2,40.36a85.63,85.63,0,0,0-19.84,2.18c-5.18-4-20.27-9.57-22.64-8.28s-3.89,7.65-3.89,12.87a28.41,28.41,0,0,0,1.68,9.6h0C32,64.35,29.12,73.84,29,83.53c-.28,21,13.22,34.15,39.9,37.51a22.12,22.12,0,0,0-6.6,10.14C57.79,133,46.37,136,38.89,125c-1.86-2.78-10.58-11.45-16.23-8.39-.82.53-1.65,1.72,1,3.36,15,10.58,7.05,22.76,27.68,24.09a97.56,97.56,0,0,0,10-.65v20.63A83.54,83.54,0,1,1,167.06,83.53Z"/>
                        </g>
                      </g>
                    </svg>
                    </a></li>
                    <li class="nav-li"><a href="https://codepen.io/Clauer" target="_blank" title="codepen">                              
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.32 212.32" class="icon-nav desktop-links">
                          <g  data-name="Layer 2">
                            <g  data-name="Mail Icon">
                              <g>
                                <path d="M46.47,95.89v20.54l15.34-10.28Z"/>
                                <path d="M128.12,106.15C121,101.35,114,96.69,107,92.1a2,2,0,0,0-1.76,0c-7,4.59-13.91,9.25-21.1,14.06,7.19,4.81,14.11,9.47,21.11,14a2.65,2.65,0,0,0,2.25-.31c5.75-3.76,11.43-7.6,17.14-11.41Z"/>
                                <path d="M51.9,84.55c6.72,4.51,13.43,9,20.2,13.46a2.63,2.63,0,0,0,2.25-.28c8.06-5.31,16.06-10.72,24.12-16a2.93,2.93,0,0,0,1.47-2.82c0-8.3,0-16.6,0-24.9,0-.63-.08-1.25-.14-2.18L51.43,84A2.76,2.76,0,0,0,51.9,84.55Z"/>
                                <path d="M113.44,81.34Q125.86,89.73,138.37,98a2,2,0,0,0,1.74.1c6.93-4.56,13.81-9.19,21-14L112.41,51.7c0,9.7,0,18.88,0,28.06A2.33,2.33,0,0,0,113.44,81.34Z"/>
                                <path d="M98.53,130.75c-8.06-5.44-16.16-10.82-24.21-16.27a2,2,0,0,0-2.68,0c-6.3,4.28-12.64,8.49-19,12.73-.42.27-.78.62-1.29,1l48.53,32.35c0-9.72,0-18.9-.06-28.08C99.85,131.93,99.12,131.15,98.53,130.75Z"/>
                                <path d="M106.16,0A106.16,106.16,0,1,0,212.32,106.16,106.16,106.16,0,0,0,106.16,0ZM178.5,106.25c0,6.94-.06,13.87,0,20.81a7.61,7.61,0,0,1-3.74,7q-32.21,21.38-64.33,42.85c-3.26,2.17-5.34,2.16-8.63,0Q69.66,155.41,37.48,134a7.62,7.62,0,0,1-3.68-7q.08-20.8,0-41.63a7.83,7.83,0,0,1,3.83-7.13q32-21.24,64-42.61c3.61-2.4,5.48-2.39,9.13,0q32,21.32,64,42.61a7.76,7.76,0,0,1,3.76,7.16C178.43,92.37,178.5,99.31,178.5,106.25Z"/>
                                <path d="M138,114.57c-8.06,5.32-16.06,10.72-24.12,16a2.92,2.92,0,0,0-1.51,2.8c.06,8.37,0,16.74,0,25.11,0,.56.09,1.12.17,2l48.49-32.32c-7.18-4.8-14.06-9.43-21-14A2.43,2.43,0,0,0,138,114.57Z"/>
                                <path d="M165.92,116.46V95.85l-15.41,10.31Z"/>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </a></li>
                    <!-- Mobile Menu -->
                    <li class=" mobile-icon-li"><a href="javascript:void(0)" title="codepen" id="mobile-menu-btn">                              
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.6 15.8" class="icon-nav">
                        <g id="f02fb3dc-b391-43d3-805a-1726ad29d629" data-name="Layer 2">
                          <g id="f980cfbe-d879-42fe-8a40-feae534941eb" data-name="Layer 1">
                            <rect y="13.8" width="19.6" height="2.03"/>
                            <rect width="19.6" height="2.03"/>
                            <rect y="6.9" width="19.6" height="2.03"/></g></g></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="mobile-menu-display">
      <a href="javascript:void(0)" id="mobile-link-top">Top</a>
      <a href="javascript:void(0)" id="mobile-link-projects">Projects</a>
      <a href="javascript:void(0)" id="mobile-link-designs">Designs</a>
      <a href="javascript:void(0)" id="mobile-link-aboutme">About Me</a>
      <a href="https://github.com/CALauer" target="_blank" title="github">GitHub</a>
      <a href="https://codepen.io/Clauer" target="_blank" title="codepen">CodePen</a>
      <a href="mailto:lauer.chris1@gmail.com">Email Me</a>
    </div>
    <!-- Hero Section -->
    <div class="call-to-action"  id="top">
        <div class="content-wrapper cta-three-columns">
            <div class="cta-column-one">
                <a href="#" id="cta-my-work">My Work</a>
            </div>
            <div class="cta-column-two">
                <img src="../images/l-logo.svg" alt="l-logo" class="cta-logo">
                <h1 class="cta-h1">Chris Lauer</h1>
                <h2 class="cta-h2">Portfolio</h2>
            </div>
            <div class="cta-column-three">
                <a href="mailto:lauer.chris1@gmail.com">Contact Me</a>
            </div>
        </div>
    </div>
    <div class="aboutme" id="aboutme">
      <div class="content-wrapper">
        <h2 class="designs-h2">About Me</h2>
  
        <div class="about-wrapper">
          <div>
            <h1 class="abt-h1">Brief Background</h1>
            <p>Hey there. My name is Chris, obviously. I am from Pennsylvania. I was born and raised here. I am a guardsman, I have been in the Pennsylvania Army National Guard since April of 2012. I did one tour in Afghanistan and I plan to retire out of the military.
            </p>
            <p>
              I am a self taught web designer / developer. I started getting into web design as a teenager, I never thought that it was something I would 
              to pursue as a career, but after many years I finally realized that this is what I want to do for a living. 
            </p> 
            <h4 class="abt-h4">This is me...</h4>
            <ul>
              <li class="skills">Organized</li>
              <li class="skills">Self Motivated</li>
              <li class="skills">Outspoken</li>
              <li class="skills">Perfectionist</li>
              <li class="skills">Motivated by Music</li>
            </ul>
            <h4 class="abt-h4">What interests me...</h4>
            <ul>
              <li class="skills">Typography</li>
              <li class="skills">Design</li>
              <li class="skills">Music</li>
              <li class="skills">Technology</li>
            </ul>
          </div>
          <div>
            <h1 class="abt-h1">Experience</h1>
            <h2 class="abt-h2">Web Development</h2>
            <p>I am very well versed with HTML and CSS. I have profecient knowledge of Javascript, PHP, and MySQL. This website and the rest that you will see here do not 
              utilize any website builders, but are developed from scratch.
            </p> 
              <h3 class="abt-h4">Other Related Experiences</h3>
              <ul>
                <li class="skills">AJAX</li>
                <li class="skills">JQuery</li>
                <li class="skills">GitHub</li>
                <li class="skills">Website Responsiveness</li>
                <li class="skills">Bootstrap</li>
                <li class="skills">CSS GRID(My Favorite)</li>
              </ul>
              <h4 class="abt-h2">Web Design</h4>
              <p>I have a strong understanding of design software and best practices. While in college, I did take a few credits worth of digital design. I have created 
                assets ranging from YouTube banners, Twitch panels, Twitch overlays, logos, print, web designs, icons, mobile design and much more.
              </p>
              <p>I primarily work with Adobe Software as this is the best in my opinion. I have worked with Affinity a few times. As a designer and developer I have 
                the ability to bring my prototypes and designs to life. Much like what you see here. 
              </p>
              <p>I am very versatile with Adobe Products.</p>
                <h4 class="abt-h4">Software Experiences</h4>
                <ul>
                  <li class="skills">Adobe Photoshop</li>
                  <li class="skills">Adobe Illustrator</li>
                  <li class="skills">Adobe InDesign</li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Projects -->
    <div class="projects" id="projects">
        <div class="content-wrapper">
          <h2 class="prjcts-h2">Projects</h2>
          <div class="projects-odd" id="project3">
            <div class="prjct-odd-1">
                    <img src="../images/project3.png" alt="prjct-1" class="prjct-img">
            </div>
            <div class="prjct-odd-2">
                <h3 class="prjcts-h3">Viabull (Just Started)</h3>
                <p class="prjcts-p">It's official, I have finally started this project. I figured my portfolio was lacking, so I might as well make a website to go with the mobile 
                  application I designed. Started on 12/16/2020.
                </p>
                
                  <h4 class="prjcts-h4">Coming Soon</h4>
                  <ul>
                      <li class="prjcts-li">Registration System</li>
                      <li class="prjcts-li">Login System</li>
                      <li class="prjcts-li">Dynamic Profiles</li>
                      <li class="prjcts-li">Dynamic Content</li>
                      <li class="prjcts-li">Mobile Navigation</li>
                  </ul>

                    
                    <br />
                    <a href="https://github.com/CALauer/Viabull" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.06 164.07" class="prjcts-icon">
                        <g data-name="Layer 2">
                          <g  data-name="Layer 1">
                            <path class="cls-1" d="M167.06,83.53a83.57,83.57,0,0,1-61.31,80.54V137.76A22.18,22.18,0,0,0,98.08,121c26.3-3.47,39.61-16.57,39.33-37.43-.13-9.68-3-19.18-9.49-26.78a28.69,28.69,0,0,0,1.64-9.53c0-5.21-1.51-11.57-3.88-12.86s-17.28,4.24-22.54,8.21A85.15,85.15,0,0,0,83.2,40.36a85.63,85.63,0,0,0-19.84,2.18c-5.18-4-20.27-9.57-22.64-8.28s-3.89,7.65-3.89,12.87a28.41,28.41,0,0,0,1.68,9.6h0C32,64.35,29.12,73.84,29,83.53c-.28,21,13.22,34.15,39.9,37.51a22.12,22.12,0,0,0-6.6,10.14C57.79,133,46.37,136,38.89,125c-1.86-2.78-10.58-11.45-16.23-8.39-.82.53-1.65,1.72,1,3.36,15,10.58,7.05,22.76,27.68,24.09a97.56,97.56,0,0,0,10-.65v20.63A83.54,83.54,0,1,1,167.06,83.53Z"/>
                          </g>
                        </g>
                      </svg></a>
                      <a class="prjcts-a" href="../../projects/Viabull/view/index.php">Live Demo</a>
                      <a class="prjcts-a" href="https://viabull.herokuapp.com/">Node JS Live Demo</a>
            </div>
        </div>
        <div class="projects-even">
          <div class="prjct-even-1">
              <h3 class="prjcts-h3">My Portfolio</h3>
              <p class="prjcts-p">This is my most recent project. Currently I am working on this site daily. This is going to be my final draft for 2020. Hopefully
                this design can roll through 2021 because I have redesigned my portfolio about 100 times. Want a portfolio layout, I have plenty to choose from. 
              </p>
                  <h4 class="prjcts-h4">Features</h4>
                  <ul>
                    <li class="prjcts-li">One Page Layout</li>
                    <li class="prjcts-li">Responsive</li>
                    <li class="prjcts-li">Clean Layout</li>
                  </ul>
                  <h4 class="prjcts-h4">Upcoming Implementations</h4>
                  <ul>
                    <li class="prjcts-li">Additional Designs</li>
                    <li class="prjcts-li">Add Reference Sites</li>
                    <li class="prjcts-li">Possible contact forms</li>
                  </ul>
                  <br />
                  <a href="https://github.com/CALauer/My-Website" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.06 164.07" class="prjcts-icon">
                      <g data-name="Layer 2">
                        <g data-name="Layer 1">
                          <path class="cls-1" d="M167.06,83.53a83.57,83.57,0,0,1-61.31,80.54V137.76A22.18,22.18,0,0,0,98.08,121c26.3-3.47,39.61-16.57,39.33-37.43-.13-9.68-3-19.18-9.49-26.78a28.69,28.69,0,0,0,1.64-9.53c0-5.21-1.51-11.57-3.88-12.86s-17.28,4.24-22.54,8.21A85.15,85.15,0,0,0,83.2,40.36a85.63,85.63,0,0,0-19.84,2.18c-5.18-4-20.27-9.57-22.64-8.28s-3.89,7.65-3.89,12.87a28.41,28.41,0,0,0,1.68,9.6h0C32,64.35,29.12,73.84,29,83.53c-.28,21,13.22,34.15,39.9,37.51a22.12,22.12,0,0,0-6.6,10.14C57.79,133,46.37,136,38.89,125c-1.86-2.78-10.58-11.45-16.23-8.39-.82.53-1.65,1.72,1,3.36,15,10.58,7.05,22.76,27.68,24.09a97.56,97.56,0,0,0,10-.65v20.63A83.54,83.54,0,1,1,167.06,83.53Z"/>
                        </g>
                      </g>
                    </svg></a>
          </div>
          <div class="prjct-even-2">
                <img src="../images/project2.png" alt="prjct-1" class="prjct-img">
        </div>
      </div>
          <div class="projects-odd" id="project1">
                <div class="prjct-odd-1" >
                        <img src="../images/project1.png" alt="prjct-1" class="prjct-img">
                </div>
                <div class="prjct-odd-2">
                    <h3 class="prjcts-h3">KinderMission Academy(Still being developed)</h3>
                    <p class="prjcts-p">I was initially hired for this project to do a complete overhaul. The overhaul was to implement changes that made their website 
                      appear more professional, have color accuracy, require less human interaction in the registration process, have a modern layout and style, and 
                      conversion optimization. Their former website had been out dated, had broken links, and just did not function the way the owner wanted it to.
                    </p>
                    <p class="prjcts-p">The old website looked similar to  <a href="https://www.kindermissionfoundation.org/" target="_blank">this.</a> 
                      <h4 class="prjcts-h4">Former Site Issues</h4>
                      <ul>
                          <li class="prjcts-li">Outdated Design</li>
                          <li class="prjcts-li">Broken Links</li>
                          <li class="prjcts-li">Not mobile friendly</li>
                          <li class="prjcts-li">Brand Guidelines not met</li>
                      </ul>
                        <h4 class="prjcts-h4">New Site Features</h4>
                        <ul>
                            <li class="prjcts-li">Form Validation & Authentication</li>
                            <li class="prjcts-li">Animated Hero Section</li>
                            <li class="prjcts-li">Automated Enrollment</li>
                            <li class="prjcts-li">Custom Illustrations</li>
                            <li class="prjcts-li">Dynamically Created Content</li>
                        </ul>
                        
                        <br />
                        <a href="https://github.com/CALauer/KinderMission" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.06 164.07" class="prjcts-icon">
                            <g data-name="Layer 2">
                              <g  data-name="Layer 1">
                                <path class="cls-1" d="M167.06,83.53a83.57,83.57,0,0,1-61.31,80.54V137.76A22.18,22.18,0,0,0,98.08,121c26.3-3.47,39.61-16.57,39.33-37.43-.13-9.68-3-19.18-9.49-26.78a28.69,28.69,0,0,0,1.64-9.53c0-5.21-1.51-11.57-3.88-12.86s-17.28,4.24-22.54,8.21A85.15,85.15,0,0,0,83.2,40.36a85.63,85.63,0,0,0-19.84,2.18c-5.18-4-20.27-9.57-22.64-8.28s-3.89,7.65-3.89,12.87a28.41,28.41,0,0,0,1.68,9.6h0C32,64.35,29.12,73.84,29,83.53c-.28,21,13.22,34.15,39.9,37.51a22.12,22.12,0,0,0-6.6,10.14C57.79,133,46.37,136,38.89,125c-1.86-2.78-10.58-11.45-16.23-8.39-.82.53-1.65,1.72,1,3.36,15,10.58,7.05,22.76,27.68,24.09a97.56,97.56,0,0,0,10-.65v20.63A83.54,83.54,0,1,1,167.06,83.53Z"/>
                              </g>
                            </g>
                          </svg></a>
                        <a class="prjcts-a" href="../../projects/KinderMission/view/index">Live Demo</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Designs -->
    <div class="designs" id="designs">
      <div class="content-wrapper-design">
        <h2 class="designs-h2">Application Design</h2>
        <div class="designs-overview">
          <div><img src="../images/viabull5.png" alt="viabull5" class="design-img"></div>
        <div><h2 class="designs-h2">Viabull</h2>
          <p class="designs-p"> Viabull is a FAKE mobile trading application I designed. I designed this for myself just so that I had something else to 
            display on my portfolio.  I plan on creating an <a href="../../projects/Viabull/view/index.php">official website</a> for the brand as well. After spending a day or so on it, I realized that I really enjoyed designing applications for mobile devices.
          </p>
          <h3 class="designs-h3">12/16/2020 | Update</h3>
          <p class="designs-p">Website for this was start on 12/16/2020.</p>
          </div>
      </div>
      <div class="designs-thumbs">
          <img src="../images/viabull-one.svg" alt="viabull1" class="design-img-thumb">
          <img src="../images/viabull-two.svg" alt="viabull2" class="design-img-thumb">
          <img src="../images/viabull-three.svg" alt="viabull3" class="design-img-thumb">
          <img src="../images/viabull-four.svg" alt="viabull4" class="design-img-thumb">
      </div>
    </div>
    <div class="content-wrapper-design">
      <h2 class="designs-h2">Landing Page</h2>
      <div class="designs-overview">
        <div><img src="../images/landingPage3.png" alt="landingPage2" class="design-img"></div>
      <div><h2 class="designs-h2">Beu </h2>
        <p class="designs-p"> Social media web application, currently in development. Platform will be built with NodeJS and React. 
        </p>
        <p>
        <a href="../images/landingPage3.png" target="_blank">Full Size View</a>
        </p>
        </div>
    </div>
    <div class="designs-thumbs">
      <img src="../images/beu_logo.png" alt="viabull1" class="design-img-thumb">
    </div>
  </div>
    <div class="content-wrapper-design">
      <h2 class="designs-h2">Landing Page</h2>
      <div class="designs-overview">
        <div><img src="../images/landingPage1.png" alt="landingPage2" class="design-img"></div>
      <div><h2 class="designs-h2">16th Street Pizza</h2>
        <p class="designs-p"> 16th Street Pizza is a FAKE pizza company I came up with. I wanted to design a pizza styled website. This is simply a static design, but I think in comparison to 
          many other pziza websites this is a much better, cleaner, modern design.
        </p>
        <p>
        <a href="../images/landingpages/16thstreetpizza.png" target="_blank">Full Size View</a>
        </p>
        </div>
    </div>
    <div class="designs-thumbs">
      <img src="../images/lp1-logo.png" alt="viabull1" class="design-img-thumb">
    </div>
  </div>
  <div class="content-wrapper-design">
    <h2 class="designs-h2">Website Redesign</h2>
    <div class="designs-overview">
      <div><img src="../images/landingPage2.png" alt="landingPage2" class="design-img"></div>
    <div><h2 class="designs-h2">Breaking Benjamin</h2>
      <p class="designs-p"> Breaking benjamin is my favorite band. I think their website is a bit dated. So I went ahead and came up with a static design that I though was better than 
        what they currently have. The design incorporates more of a band feeling and I think it speeks to more of their style.
      </p>
      <p><a href="../images/landingpages/breakingBenjamin.png" target="_blank">View Full Size</a></p>
      </div>
  </div>
  <div class="designs-thumbs">
  </div>
</div>
<div class="content-wrapper-design">
  <h2 class="designs-h2">Application Assets</h2>
  <div class="designs-overview">
    <div><img src="../images/icons.png" alt="viabull5" class="design-img"></div>
  <div><h2 class="designs-h2">Vectorized Social Media Icons</h2>
    <p class="designs-p"> Small portions of vectorized assets I have in my library with Adobe. I simply vectorized all the logos for scalability in projects.
    </p>
    <p><a href="../images/icons.png" target="_blank">View Full Size</a></p>
    </div>
</div>
<div class="designs-thumbs">
</div>
</div>
<div class="content-wrapper-design">
  <h2 class="designs-h2">Custom Illustrations(From KMA)</h2>
  <div class="designs-overview">
    <div><img src="../images//illustrations/enhanced-academics.svg" alt="viabull5" class="design-img"></div>
  <div><h2 class="designs-h2">KMA Illustrations</h2>
    <p class="designs-p"> SVG illustrations inline with the brand requirements and requests.
    </p>
    <p><a href="../images//illustrations/enhanced-academics.svg" target="_blank">View Full Size</a></p>
    </div>
</div>
<div class="designs-thumbs">
  <img src="../images//illustrations/career.svg" alt="illustration1" class="design-img-thumb">
  <img src="../images//illustrations/health.svg" alt="illustration1" class="design-img-thumb">
  <img src="../images//illustrations/kma_feature_man.svg" alt="illustration1" class="design-img-thumb">
  <img src="../images//illustrations/kma_safe_man-01.svg" alt="illustration1" class="design-img-thumb">
</div>
</div>
</div>


  <!-- Footer -->
      <footer>
        <div class="content-wrapper">
          <div class="footer-details">
            <div>
              <h3 class="designs-h3">In the works</h3>
              <h4 class="designs-h4">Beu</h4>
              <p><a href="javascript:void(0)">Beu</a> is a social media site that I am working on. Unfortunately, this site isn't functioning atm, images and project soon to come.</p> <br />
              <h4 class="designs-h4">2ByteWare</h4>
              <p><a href="javascript:void(0)">2ByteWare</a> is one of my best friends Brand. He is a software developer and we work in collaboration with one another. 
              I ahve developed a few sites for him but nothing that I particularly like. It's in the works.</p>
            </div>
          </div>
        </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>